h1, h2, h4 {
  margin: 10px;
  text-align: center;
}  

a, a:visited {
  color: lightseagreen;
  text-decoration: none;
}
a:hover, a:active {
  color: teal;
}

button {
  outline: none;
  color: white;
  background: lightseagreen;
  font-weight: bold;
  border: lightseagreen;
  font-size: 24;
  height: 30px;
  width: 150px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
button:hover, .navitemleft:hover, .navitemright:hover {
  background: teal;
}
button:disabled {
  background: grey;
  color: lightgrey;
  box-shadow: none;

}
input {
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 10px 10px;
  margin: 10px;
  padding: 10px 10px 10px 60px;
  border-radius: 10px;
  font-size: 24px;
  outline: none;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

.main {
  background-image: url('/homescreen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}

.logo {
  background-image: url('/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 10vh;
  height: 40vh;
  width: 100vw;
  margin: auto;
}

.main-buttons {
  position: fixed;
  top: 70vh;
  width: 100vw;
  text-align: center;
}

.main-buttons button {
  width: 250px;
  height: 75px;
  font-size: 38px;
  margin: 30px;
}

.box-container {
  position: fixed;
  top: 25vh;
  width: 100vw;
  text-align: center;
}

.login {
  margin: auto;
  padding: 10px;
  width: 450px;
  border-radius: 20px;
  background: rgba(255,255,255,0.2);
  text-align: center;
  font-size: 20px;
  color: white;
  overflow: hidden;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

.login input {
  width: 350px;
}

.login button {
  height: 50px;
  width: 300px;
  font-size: 24px;
  margin: 20px;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background: lightseagreen;
}

.navlogo {
  background-image: url('/navlogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 50px;
  margin: 5px 50px 5px 20px;;
  float: left;
}

.navitemleft, .navitemright {
  width: 150px;
  height: 100%;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: white;
  cursor: pointer;
  float: left;
}
.navitemright {
  float: right;
}
.navborderleft, .navborderright {
  width: 1px;
  height: 30px;
  margin: 15px 0px;
  background: lightgrey;
  float: left;
}
.navborderright {
  float: right;
}

.pane {
  position: fixed;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  background: lightgrey;
}

.content {
  position: fixed;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
  background: lightblue;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
  z-index: -999;
}

.draft-log, .draft-queue, .league-list {
  top: 80px;
  left: 20px;
  height: calc(100vh - 102px);
  width: 390px;
}
.draft-queue {
  left: 432px;
  width: 435px;
}
.league-list {
  width: 847px;
}
.player-stats, .player-list, .message-list, .message-detail {
  top: 80px;
  left: 889px;
  height: 310px;
  width: calc(100% - 909px);
}
.player-list {
  top: 412px;
  height: calc(100% - 434px);
}
.message-list {
  height: 50vh;
}
.message-detail {
  top: calc(50vh + 102px);
  height: calc(50vh - 124px);
}

.content-header, .player-list-header {
  background: lightyellow;
  margin: 0px;
  width: 100%;
  height: 55px;
  overflow: auto;
  border-bottom: 5px solid black;
}
.player-list-header {
  height: auto;
  border: none;
}

.content-box, .player-list-box {
  width: 100%;
  height: calc(100% - 70px);
  padding: 5px 0px;
  overflow-y: auto;
}
.player-list-box {
  padding: 0px;
  height: calc(100% - 55px);
}

.draft-round-header {
  height: 62px;
  width: 200px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 62px;
}

.draft-round {
  width: 100%;
  height: max-content;
  overflow: hidden;
  padding: 10px 0px;
}

.draft-turn button {
  margin: 5px 0px;
  padding: 0px 20px;
  height: 50px;
  font-size: 18px;
  width: max-content;
}

.draft-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 60px;
}
.myTurn {
  color: blue;
}
.currentTurn {
  color: red;
}


.player-img {
  width: 260px;
  height: 190px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  float: left;
  font-size: 40px;
  text-align: left;
  line-height: 80px;
}

.player-box, .player-box-logo {
  width: calc(100% - 320px);
  height: 250px;
  position: absolute;
  left: 320px;
}
.player-box-logo {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
  left: 0px;
  opacity: 0.3;
  z-index: -1;
}

.player-headline {
  width: 100%;
  height: 60px;
  float: left;
  overflow: hidden;
}
.headline-sm, .headline-med, .headline-name, .headline-team {
  float: left;
  height: 60px;
  width: 70px;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
}
.headline-med {
  width: 100px;
}
.headline-name {
  font-size: 30px;
  font-weight: bold;
  width: 400px;
  margin-left: 10px;
  text-align: left;
}
.headline-team {
  font-size: 24px;
  width: 320px;
}

.jersey-pos {
  width: 100%;
  height: 60px;
}
.jersey-box {
  float: left;
}
.pos-box {
  float: right;
}
.jersey-wrapper {
  margin: auto;
  width: max-content;
}
.jersey-hash, .jersey-num {
  font-size: 14px;
  line-height: 45px;
  float: left;
}
.jersey-num, .pos-box {
  text-align: center;
  font-size: 30px;
  line-height: 60px;
}
.jersey-box, .pos-box {
  margin: 10px;
  width: 60px;
  background: rgba(0,0,0,0.7);
  border-radius: 30px;
  /* background-image: url('/icon_bball.png');
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center; */
  color: white;
}
.player-statline {
  float: left;
  width: calc(100% - 260px);
  height: calc(100% - 120px);
  overflow: auto;
}
.statline-row, .statline-header, .statline-sm, .statline-med, .statline-lg, .statline-xl, .statline-sp, .statline-buff {
  height: 30px;
  width: 55px;
  text-align: center;
  float: left;
  font-size: 20px;
  line-height: 30px;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
.statline-row, .statline-header {
  width: max-content;
  border: 1px solid #2d2d2d;
  margin-left: 10px;
}
.statline-row {
  background: rgba(255,255,255,0.3);
  border-top: none;
}
.statline-row:hover {
  background: rgba(0,0,0,0.3);
  color: white;
}
.statline-header, .statline-header > *, .statline-header > * > * {
  height: 26px;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  position: sticky;
  background: #2d2d2d;
  color: white;
  top: 1px;
  z-index: 2;
  cursor: default;
}
.statline-header > .statline-xl > .statline-lg {
  text-align: center;
}
.statline-med {
  width: 80px;
}
.statline-lg {
  width: 90px;
  text-align: left;
}
.statline-xl {
  width: 170px;
  text-align: center;
}
.statline-sp {
  width: 30px;
}
.statline-buff {
  width: 100%;
  height: 8px;
}
.headline-xs {
  margin-left: 5px;
  font-size: 20px;
  line-height: 30px;
}

.dim {
  background: darkolivegreen;
  opacity: 0.5;
}

.line {
  text-decoration: line-through;
  color: red;
}

.player-lg, .player-sm, .draft-turn, .player-lg-header, .player-lg-buff {
  width: max-content;
  height: 30px;
  float: left;
}
.player-sm, .draft-turn {
  height: 60px;
}
.player-lg-header {
  min-width: 100%;
  position: sticky;
  top: 0px;
  z-index: 5;
  background: lightyellow;
  border-bottom: 5px solid black;
  font-weight: bold;
}
.stat-team {
  font-weight: normal;
  font-style: italic;
}
.player-lg-buff {
  width: 100%;
  height: 14px;
}
.stat-logo-lg, .stat-logo-sm, .statline-logo {
  background-repeat: no-repeat;
  position: absolute;
  height: 60px;
  overflow: hidden;
  z-index: 0;
  background-size: 200px;
  background-position: 0px -43px;
  opacity: 0.3;
  left: 115px;
  width: 200px;
}
.stat-logo-sm, .statline-logo {
  background-size: 60px;
  background-position: 0px -12px;
  opacity: 0.5;
  left: 260px;
  width: 60px;
  height: 32px;
}
.statline-logo {
  background-position: 0px -12px;
  opacity: 0.5;
  left: 120px;
}
.stat-all-lg, .stat-all-sm {
  height: max-content;
  width: max-content;
  float: left;
  background: lightgreen;
  cursor: pointer;
  border: 1px solid black;
  position: relative;
}
.stat-all-lg:hover, .stat-all-sm:hover {
  background: #32bf32;
}
.stat-all-lg.player-focus, .stat-all-sm.player-focus, .show-more {
  background: #248824;
  color: white;
}
.stat-all-sm, .draft-turn {
  width: 310px;
}
.stat-i-sm, .stat-i-lg, .stat-arrows, .stat-sp, .stat-sm, .stat-lg, .check-no, .check-x, .check-elim, .expand-plus, .expand-minus, .stat-header-sp, .stat-header-sp2, .stat-name, .stat-team {
  height: 30px;
  width: 50px;
  float: left;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  z-index: 1px;
  position: relative;
}
.stat-header-sp {
  width: 82px;
}
.stat-header-sp2 {
  width: 181px;
}
.stat-i-sm {
  height: 32px;
  line-height: 32px;
}
.stat-i-lg, .stat-arrows {
  height: 62px;
  line-height: 62px;
}
.stat-arrows {
  width: 30px;
}
.stat-sp {
  width: 10px;
}
.stat-lg, .stat-name, .stat-team {
  width: 310px;
  padding-left: 5px;
  text-align: left;
  float: left;
  overflow: hidden;
}
.stat-name, .stat-team {
  padding: 0px 5px;
  width: max-content;
}
.stat-team {
  font-weight: normal;
  font-style: italic;
}
.player-lg-header > .stat-sm:hover, .stat-name:hover, .stat-team:hover {
  border-radius: 10px 10px 0px 0px;
  color: white;
  background: darkblue;
  cursor: pointer;
}
.check-no, .check-x, .arrow-up, .arrow-down, .expand-plus, .expand-minus {
  background-image: url('/icon_check_no.png');
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 32px;
  cursor: pointer;
}
.icon-dbl {
  margin: 15px 0px;
}
.expand-plus, .expand-minus {
  margin: 15px 20px;
}
.check-x {
  background-image: url('/icon_x.png');
}
.check-elim {
  width: 30px;
}
.arrow-up {
  background-image: url('/icon_up.png');
  background-position: bottom;
}
.arrow-down {
  background-image: url('/icon_down.png');
  background-position: top;
}
.expand-plus {
  background-image: url('/icon_plus.png');
}
.expand-minus {
  background-image: url('/icon_minus.png');
}
.show-more {
  float: left;
  width: 400px;
  font-size: 24px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #248824;
  cursor: pointer;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}
.show-more:hover {
  background: #cbf5cb;
  color: #248824;
}