h1, h2, h4 {
  margin: 10px;
  text-align: center;
}  

a, a:visited {
  color: lightseagreen;
  text-decoration: none;
}
a:hover, a:active {
  color: teal;
}

button {
  outline: none;
  color: white;
  background: lightseagreen;
  font-weight: bold;
  border: lightseagreen;
  font-size: 24;
  height: 30px;
  width: 150px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
button:hover, .navitemleft:hover, .navitemright:hover {
  background: teal;
}
button:disabled {
  background: grey;
  color: lightgrey;
  box-shadow: none;

}
input {
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 10px 10px;
  margin: 10px;
  padding: 10px 10px 10px 60px;
  border-radius: 10px;
  font-size: 24px;
  outline: none;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

.main {
  background-image: url('/homescreen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}

.logo {
  background-image: url('/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 10vh;
  height: 40vh;
  width: 100vw;
  margin: auto;
}

.main-buttons {
  position: fixed;
  top: 70vh;
  width: 100vw;
  text-align: center;
}

.main-buttons button {
  width: 250px;
  height: 75px;
  font-size: 38px;
  margin: 30px;
}

.box-container {
  position: fixed;
  top: 25vh;
  width: 100vw;
  text-align: center;
}

.login {
  margin: auto;
  padding: 10px;
  width: 450px;
  border-radius: 20px;
  background: rgba(255,255,255,0.2);
  text-align: center;
  font-size: 20px;
  color: white;
  overflow: hidden;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

.login input {
  width: 350px;
}

.login button {
  height: 50px;
  width: 300px;
  font-size: 24px;
  margin: 20px;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background: lightseagreen;
}

.navlogo {
  background-image: url('/navlogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 50px;
  margin: 5px 50px 5px 20px;;
  float: left;
}

.navitemleft, .navitemright {
  width: 150px;
  height: 100%;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: white;
  cursor: pointer;
  float: left;
}
.navitemright {
  float: right;
}
.navborderleft, .navborderright {
  width: 1px;
  height: 30px;
  margin: 15px 0px;
  background: lightgrey;
  float: left;
}
.navborderright {
  float: right;
}

.pane {
  position: fixed;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  background: lightgrey;
}

.content {
  position: fixed;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  overflow-y: auto;
  background: lightblue;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

.draft-log {
  top: 70px;
  left: 10px;
  height: calc(100vh - 102px);
  width: 400px;
}

.draft-queue {
  top: 70px;
  left: 442px;
  height: calc(100vh - 102px);
  width: 400px;
}

.player-stats {
  top: 70px;
  left: 874px;
  height: 300px;
  width: calc(100% - 904px);
}

.player-list {
  top: 402px;
  left: 874px;
  height: calc(100% - 434px);
  width: calc(100% - 904px);
}

.player-list-box {
  position: relative;
  top: 90px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 144px);
  background: grey;
  overflow-y: auto;
  border: 1px solid black;
}

.player {
  width: max-content;
  height: 35px;
  float: left;
}
.stat-all {
  height: 35px;
  width: max-content;
  float: left;
  background: lightgreen;
  cursor: pointer;
  border: 1px solid black;
}
.stat-sp, .stat-sm, .stat-lg, .check-no, .check-yes {
  height: 35px;
  width: 60px;
  float: left;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}
.stat-sp {
  width: 20px;
}
.stat-lg {
  width: 350px;
  padding-left: 5px;
  text-align: left;
  float: left;
  overflow: hidden;
}
.check-no, .check-yes {
  background-image: url('/icon_check_no.png');
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.check-yes {
  background-image: url('/icon_check_yes.png');
}