h2 {
  margin: 10px;
}
h4 {
  margin: 10px;
}
a, a:visited {
  color: lightseagreen;
  text-decoration: none;
}
a:hover, a:active {
  color: teal;
}
button {
  outline: none;
  color: white;
  background: lightseagreen;
  font-weight: bold;
  border: lightseagreen;
  border-radius: 10px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}
button:hover {
  background: teal;
  cursor: pointer;
}
button:disabled {
  background: grey;
  color: lightgrey;
  box-shadow: none;

}
input {
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 10px 10px;
  margin: 10px;
  padding: 10px 10px 10px 60px;
  border-radius: 10px;
  font-size: 24px;
  outline: none;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}



.main {
  background-image: url('/homescreen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}

.logo {
  background-image: url('/logo 2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 10vh;
  height: 40vh;
  width: 100vw;
  margin: auto;
}

.main-buttons {
  position: fixed;
  top: 70vh;
  width: 100vw;
  text-align: center;
}
.main-buttons button {
  width: 250px;
  height: 75px;
  font-size: 38px;
  margin: 30px;
}

.box-container {
  position: fixed;
  top: 30vh;
  width: 100vw;
  text-align: center;
}

.login {
  margin: auto;
  padding: 10px;
  width: 450px;
  border-radius: 20px;
  background: rgba(255,255,255,0.2);
  text-align: center;
  font-size: 20px;
  color: white;
  overflow: hidden;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}
.login input {
  width: 350px;
}
.login button {
  height: 50px;
  width: 300px;
  font-size: 24px;
  margin: 20px;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background: lightseagreen;
}